.button{
    width: fit-content;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 8px 20px;
    color: #fff;
    background-image: linear-gradient(to bottom, #92cda5, #29aaa8);
    border-color: #fff;
}